# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# npm stuff
node_modules
npm-debug.log

# python modules
python_modules
temp-python

# Built files
ImageMagick-7.0.7-11
GraphicsMagick-1.3.23

# Private keys
service-account-key.json